# IDE
.idea

# Build
/target
/res
/venv

# testing
/*Dockerfile
/test/*.log
*.log*
out
*-out*
/*.asm
**/*.o
/*.c
/*.cpp
/*.rs
/*.py
/*.s
/*.oxy
/*.out
/*.js
/*.ts
/*.data
/*.data.old
/*.txt

# OS
.DS_Store
._*